
{% extends 'base.html.twig' %}
  
{% block title %}Editar juego{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Ediccion del juego</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('invitacionEventos') }}"> 
                    Invitacion eventos
                </a>
            </div>
            <div class="card-body">
                <div class="container">
        
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-3">Elige el juego para el evento</h2>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    {{ form_start(form) }}
                        <div class="form-group mb-3">
                                {{ form_row(form.juego, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group mb-3">
                                {{ form_row(form.eventos, {'attr': {'class': 'form-control'}}) }}               
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3" >{{ button_label|default('Editar Evento') }}</button>
                        </div>
                {{ form_end(form) }}
                </div>
            </div>
            </div>
    </div>

</div>
            </div>
        </div>
    </div>
{% endblock %}